// mostly copied from: https://github.com/infused-kim/zmk-config/tree/chocofi/main

#define ZMK_POINTING_DEFAULT_MOVE_VAL 700  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 70    // default: 10
#define QUICK_TAP 0
#define HM_TAPPING_TERM 300
#define HM_TAPPING_TERM_FAST 300
#define HM_PRIOR_IDLE 0
#define COMBO_TERM 200
#define COMBO_IDLE 0

#include "./keypos.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>; };

/ {
    behaviors {
        //////////////////////////////////////////////////////////////////
        // Positional Homerow mods
        // Homerow mods that prevent accidental activations when rolling keys,
        // such as when typing `st` or `ne` on colemak-dh layouts or `as` on
        // qwerty.
        //
        // Works by only allowing a mod to activate within tapping-term if
        // it's on the opposite side of the keyboard or on the same side thumb
        // keys.
        // Further optimization using urob's timerless homerow mods method:
        // https://github.com/urob/zmk-config#timeless-homerow-mods

        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        // Positional Homerow mods for shift
        // Use faster tapping term and disable some features that may
        // cause false negatives.

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        /////////////////////////////////////////////////////////////////////////////
        /*
        * Usage: &lt_balanced
        * Tap: key press
        * Hold: momentary layer
        */

        lt_balanced: lt_balanced {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;

            // hold-trigger-key-positions = <KEYS_L KEYS_T>;

            hold-trigger-on-release;
        };

        /*
        * Usage: &lt_capsword
        * Tap: caps_word
        * Hold: momentary layer
        */

        lt_capsword: lt_caps_word {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&caps_word>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;

            // hold-trigger-key-positions = <KEYS_L KEYS_T>;

            hold-trigger-on-release;
        };

        /////////////////////////////////////////////////////////////////////////////
        // Swap the default and the shifted
        /*
        * Usage: &mm_tilde
        * Tap: tilde(~)
        * Shifted Tap: grave(`)
        */

        mm_tilde: tilde_grave {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&kp GRAVE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /*
        * Usage: &mm_pipe
        * Tap: pipe(|)
        * Shifted Tap: backslash(\)
        */

        mm_pipe: pipe_backslash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp BSLH>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/////////////////////////////////////////////////////////////////////////////
// generated by keymap editor

/ {
    combos {
        compatible = "zmk,combos";

        l3 {
            bindings = <&mo 3>;
            key-positions = <33 34 35>;
            layers = <0>;
        };

        layerMous {
            bindings = <&mo 4>;
            key-positions = <11 12 13>;
            layers = <0>;
        };
    };

    macros {
        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RCTRL>,
                <&macro_tap>,
                <&kp FSLH>,
                <&macro_release>,
                <&kp RCTRL>;

            label = "UNDO";
        };

        undo_redo: undo_redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RCTRL>,
                <&macro_tap>,
                <&kp QMARK>,
                <&macro_release>,
                <&kp RCTRL>;

            label = "UNDO_REDO";
        };

        close: close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp F4>,
                <&macro_release>,
                <&kp RALT>;

            label = "CLOSE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "BASE";
            bindings = <
&kp Q                 &kp W  &kp E                &kp R                 &kp T               &kp Y         &kp U               &kp I          &kp O       &kp P
&hm_l LEFT_CONTROL A  &kp S  &kp D                &kp F                 &kp G               &kp H         &kp J               &kp K          &kp L       &hm_r RIGHT_CONTROL SEMICOLON
&kp Z                 &kp X  &kp C                &kp V                 &hm_l LCMD B        &hm_r RCMD N  &kp M               &kp COMMA      &kp PERIOD  &kp SLASH
                             &mt LEFT_ALT ESCAPE  &lt_balanced 1 SPACE  &mt LEFT_SHIFT SQT  &kp ENTER     &lt_balanced 2 TAB  &kp BACKSPACE
            >;
        };

        directions {
            label = "dir";
            bindings = <
&kp N7        &kp N8        &kp N9        &kp N0            &kp NUMBER_6       &kp HOME  &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &kp BACKSLASH
&kp NUMBER_4  &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_1      &kp N5             &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&kp GRAVE     &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp F1    &kp F2          &trans        &trans     &trans
                            &trans        &trans            &trans             &trans    &trans          &trans
            >;
        };

        shiftnum {
            label = "shiftnum";
            bindings = <
&kp N7        &kp N8        &kp N9        &kp N0            &kp NUMBER_6       &kp HOME  &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &kp BACKSLASH
&kp NUMBER_4  &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_1      &kp N5             &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&kp GRAVE     &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp F1    &kp F2          &trans        &trans     &trans
                            &trans        &trans            &trans             &trans    &trans          &trans
            >;
        };

        adjustment {
            label = "adj";
            bindings = <
&kp C_BRI_DN  &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP  &none           &kp F1   &kp F2   &kp F3   &kp F4   &kp F5
&bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_SEL 4    &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&none         &none         &bt BT_CLR    &none         &bt BT_CLR_ALL  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15
                            &trans        &trans        &trans          &trans   &trans   &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans        &trans           &mkp MB5
&trans  &trans  &trans  &trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp MCLK
&trans  &trans  &trans  &trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &mkp MB4
                &trans  &trans  &trans  &mkp LCLK       &mkp RCLK       &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
